<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Note</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="title-container">
        <h1 style="margin-top: 50px;">New Note</h1>
    </div>
    <div class="new-container">
        <form action="/new" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>

            <label for="content">Content:</label><br>
            <textarea id="content" name="content"></textarea><br>

            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author"><br>

            <label for="rating">Rating:</label><br>
            <input type="number" id="rating" name="rating" min="1" max="5"><br> 

            <label for="category">Category:</label><br>
            <input type="text" id="category" name="category"><br>

            <label for="date_created">Date finished:</label><br>
            <input type="text" id="date_created" name="date_created" placeholder="YYYY-MM-DD"><br>

            <button type="submit">Add</button>

        </form>
    </div>
</body>

</html>